<% layout("/layouts/boilerplate") %>
<!-- <% if (typeof success_msg !== "null" && success_msg) { %>
    <div class="alert alert-success">
      <%= success_msg %>
    </div>
  <% } %> -->
  
  <!-- Error Flash Message -->
  <!-- <% if (typeof error_msg !== "null" && error_msg) { %>
    <div class="alert alert-danger">
      <%= error_msg %>
    </div>
  <% } %> -->

<div class="row mt-3">
    <h3 class="col-6 offset-3">Signup on InfluencerHub</h3>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <!-- Username Input -->
            <div>
                <label for="username" class="form-label">Username</label><br>
                <input name="username" id="username" placeholder="Enter username" type="text" class="form-control" required> 
                <div class="valid-feedback">Username looks good!</div>
            </div>

            <!-- Password Input -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label><br>
                <input name="password" id="password" placeholder="Enter password" type="password" class="form-control" required> 
                <div class="valid-feedback">Password looks good!</div>
            </div>

            <!-- Email Input -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label><br>
                <input name="email" id="email" placeholder="Enter email" type="email" class="form-control" required> 
                <div class="valid-feedback">Email looks good!</div>
            </div>

            <!-- Role Input -->
            <div class="mb-3">
                <label for="role" class="form-label">Role</label><br>
                <select name="role" id="role" class="form-select" required>
                    <option value="" disabled selected>Select role</option>
                    <option value="user">User</option>
                    <option value="company">Company</option>
                    <option value="freelancer">Freelancer</option>
                </select>
                <div class="valid-feedback">Role selected!</div>
            </div>
            <br>
            <!-- Submit Button -->
            <button class="col-6 offset-3 btn btn-success">Sign Up</button>

            <br><br>
            <p></p>
        </form>
    </div>
</div>
